<body style="height:100vh;" class="bg-black text-white">

    <div class="container py-5">
        <h1 class="text-center">Todo-App</h1>
        <hr>
        <div class="form-group" *ngIf="!isUpdateFormActive">
            <label for="work">Set a job</label>
            <input type="text" class="form-control" [ngClass]="ChangeInputClass()" id="work" for="work" [(ngModel)]="work">
            <div class="invalid-feedback">
                Please enter at least 1 character.
            </div>
            <div class="form-group">
                <button [disabled]="work.length<=0" (click)="Save()" class="btn btn-outline-success my-sm-3 w-100">Save</button>
            </div>
        </div>
        <div class="form-group" *ngIf="isUpdateFormActive">
            <label for="work">Update the job</label>
            <input type="text" class="form-control" id="work" for="work" [(ngModel)]="updateWork">
            <div class="form-group">
                <button (click)="Update()" class="btn btn-outline-info my-sm-3 w-100">Update</button>
                <button (click)="Cancel()" class="btn btn-outline-danger my-sm-3 w-100">Cancel</button>
            </div>
        </div>
        <hr>
        <ul>
            <li *ngFor="let work of works let i=index">
                <span class="fw-bolder">{{i}}-</span>{{work}}
                <div class="form-group d-inline" *ngIf="!isUpdateFormActive">

                    <button class="btn btn-outline-info me-2" (click)="Get(work,i)">Update</button>
                    <button (click)="Delete(i)" class="btn btn-outline-danger">Delete</button>
                </div>
            </li>
        </ul>
    </div>
</body>